/* CSS */

* {box-sizing: border-box;}

/* CSS Elements */

html, body {
    height: 100%;
}

body {    
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color:#878787;
  margin: 0;
}

a {text-decoration: none;
   color:#096;
}

ul {
  list-style: square;
  margin: .75em;
  padding: 0;
}

footer {
    min-height: 6.25rem;
    background-color: rgb(30, 30, 30);
}

button, #submit {
    margin: .25em;
    padding: .1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    background: #376656;
    color: white;
}

#submit:hover{
    box-shadow: .1em .1em .8em rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: #376656;
}

button:hover {
    box-shadow: .1em .1em .8em rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: #376656;
}

.main-header h1 {
  font-size: 5.625rem; /* 90px/16px */
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,.8);
}

.album {
  border: solid 1px whitesmoke;
  border-radius: 50%;
  margin: 1em;
}

/* Wrapper */

.wrapper {
    flex: 1 0 auto;
    background-color: rgb(12, 12, 12);
}
/* Img controls */

.resp {
  max-width:100%;
  height:auto;
}

/* Main Header Image Start */
.main-header {
  text-align: center;
  padding: 150px 10px;
  height: 725px;  
  background: linear-gradient(#336666, transparent 80%),
              linear-gradient(0deg, rgb(12, 12, 12), transparent),
              #336666 url('../imgs/lighthouseCover.jpg') no-repeat center;
  background-size: cover;
  color:whitesmoke;
}

.hd-title {
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  border-bottom: 3px solid;
  padding-bottom: 2px;
}

/* theme text colors, font weight, other styles */

.thin {font-weight: 100;}

.purple {color: #669;}

.white {color: white;}

.green {color: #096;}

.em3 {font-size: 3em;}

.gray-fill {background: rgb(21, 24, 23);}
.blk-fill {background: rgb(0, 0, 0);}
.teal-fill {background: #376656;}

.bx-sdw {box-shadow: .2em .5em .8em #669;}

.bd-rad {border-radius: 5px;}

.black-box {
    display: block;
    margin: 1em 3em;
    text-align: center;
    border: solid .75em rgb(0, 0, 0);
}
/* ----------------------------------------- */

/* Navigation */

.logo {
    max-height: 7.5em;
    align-content: center;
    display: block;
    margin: 5px auto;
    border-radius: 50%;
    border: solid 1px white;

}

.navigation {
  margin-bottom: 2em;     
}

.navigation li {
    list-style: none;
    background: rgb(0, 0, 0);
    border: solid .5px white;
    max-width: 40%;
    margin: 0 auto .5em;
    border-radius: 1px;
}

.title a,
.navigation a {
  display: block;
  padding: .25em 1em;
  text-align: center;
  color: white;
}

.navigation li a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.nav-header {
  background-color: rgb(30, 30, 30);
  box-shadow: 0 .1em .8em rgb(255, 255, 255);
  z-index: 100;
}

/* main content section home page */

.main-content {
  text-align: center;
}

.col-1, .col-2, .col-3 {
    margin: 1em;
    font-size: 1.2rem;
    width: 33%;
}


/*
=======================
Form Styles
=======================
*/

form {
    margin: 2em;
}

input,textarea,label,select,button{
    display: block;
    padding: .5em;
    width: 100%;
    border-radius: .5em;
}

textarea{
    margin-bottom: 1em;
}

label {
    font-weight: 400;
    padding: .75em 0;
    color: #096
}


/*------ 
Sub display
-------*/
#sub-display {
    margin: 1.5em;
    margin-bottom: 2em;
}

/* footer section */

#copyright{ 
    color: white;
    margin-left: 1em;
    position: relative;
    top: 40%;
}

.icn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
}

.icn2 {
    position: absolute;
    right: 5px;
}
.icn1 {
    position: absolute;
    right: 90px;
}

/*media query section*/
@media (min-width:769px) {

.nav-header,
.navigation,
.logo,
.main-content {
  display: flex;
  }   

.nav-header {
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  } 

.navigation {
  margin-top: 2.75em;
  }    

.navigation a {
  padding: .5em 2em;
  }    
    
.navigation li {
  margin-right: .5em;  
  }   

} 

@media (max-width:769px){

  .col-1,.col-2,.col-3{
    min-width: 325px;
    margin: auto;
    font-size: smaller;
  }
  .album {
    max-width: 275px;
  }
}


@media (max-width:504px) {
  .main-header h1 {
    font-size: 3rem;
  }
  .album {
    max-width: 150px;
  }
}

